<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>遊んで学べる早稲田式速記ゲーム</title>
  <meta name="description" content="早稲田式速記の学習用ゲーム">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="kakuyomu.css">
  <link rel="stylesheet" href="mobile.css">
  <script src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js"></script>
  <script>new ViewportExtra(375)</script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>
</head>
<body>
  <div id="app" v-cloak>
    <template v-if="mode === 'top'">
      <h1>遊んで学べる早稲田式速記ゲーム</h1>
      <div class="description">遊びたいモードを押してね☺</div>
      <div id="mode-btn-container">
        <div class="mode-btn" @click="onClickKaku">書く！</div>
        <div class="mode-btn" @click="onClickYomu">読む！</div>
      </div>
      <table id="sokki-table">
        <tr v-for="sokkiRow in sokkiTable">
          <td v-for="sokki in sokkiRow">
            <div class="hira">{{sokki.hira}}</div>
            <div class="sokki"
                :class="{
                  'pad-top': sokki.pad === 'top',
                  'pad-bottom': sokki.pad === 'bottom'
                }"
                v-html="sokki.sokki"></div>
          </td>
        </tr>
      </table>
    </template>

    <template v-else-if="mode === 'kaku'">
      <div id="mondai">{{this.mondai.join("")}}</div>
      <div id="sintyoku" v-html="this.sintyoku.join('') + '?'.repeat(this.mondai.length - this.sintyoku.length)"></div>
      <div id="message">{{message}}</div>

      <div class="sentakusi-container">
        <template v-for="(s, index) in sentakusiList">
          <div class="sentakusi"
               :class="{selected: selectedSentakusi?.sokki === s.sokki}"
               v-html="s.sokki"
               @click="onClickSentakusi(s)"></div>
        </template>
      </div>
    </template>
    
    <template v-else-if="mode === 'yomu'">
      読む！TODO
    </template>
  </div>

  <script src="utils.js"></script>
  <script src="data.js"></script>
  <script src="main.js"></script>
</body>
</html>
