<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>遊んで学べる早稲田式速記ゲーム</title>
  <meta name="description" content="早稲田式速記の学習用ゲーム">
  <link rel="stylesheet" href="loading.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="kaku.css">
  <link rel="stylesheet" href="result.css">
  <link rel="stylesheet" href="mobile.css">
  <script src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js"></script>
  <script>new ViewportExtra(375)</script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>
</head>
<body>
  <div id="loading">ロード中…</div>
  <div id="app" v-cloak style="display: none;">
    <template v-if="scene === 'top'">
      <h1>遊んで学べる早稲田式速記ゲーム</h1>
      <div class="description">
        清音は「あ」から「ん」のこと☺<br>
        特殊は「ぱ」や「きゃ」のこと😵
      </div>
      <div id="play-btn-container">
        <fieldset id="kiso">
          <legend>基礎</legend>
          <fieldset class="kiso-fieldset">
            <legend>五十音順</legend>
            <div class="play-btn" @click="onClickPlay('基礎', '五十音', '清音')">清音🥳</div>
            <div class="play-btn" @click="onClickPlay('基礎', '五十音', '特殊')">特殊🥴</div>
          </fieldset>
          <fieldset class="kiso-fieldset">
            <legend>ランダム</legend>
            <div class="play-btn" @click="onClickPlay('基礎', 'ランダム', '清音')">清音😀</div>
            <div class="play-btn" @click="onClickPlay('基礎', 'ランダム', '特殊')">特殊😖</div>
          </fieldset>
        </fieldset>

        <fieldset id="jissen">
          <legend>実践</legend>
          <div class="play-btn" @click="onClickPlay('実践', '', '清音')">清音😆</div>
          <div class="play-btn" @click="onClickPlay('実践', '', '全部')">全部😱</div>
        </fieldset>
      </div>
      
      <table id="sokki-table">
        <tr v-for="sokkiRow in sokkiTable">
          <td v-for="sokki in sokkiRow">
            <div class="hira">{{sokki.hira}}</div>
            <div class="sokki"
                :class="{
                  'pad-top': sokki.pad === 'top',
                  'pad-bottom': sokki.pad === 'bottom'
                }"
                v-html="sokki.sokki"></div>
          </td>
        </tr>
      </table>

      <div id="poem">
        <h2>注意書き</h2>
        <p>
          濁音、を、ん、っ、ぁぃぅぇぉ、などは対応していません😇
        </p>
        <p>
          実践で見たことがない速記文字が出てきたら、それは<a href="https://sokki.okoshi-yasu.net/sb-syouryakuhou.html" target="_blank" rel="noopener noreferrer">省略文字</a>です🤔
          難易度が高いため、覚える必要はありません😵‍💫
        </p>
        <p>
          あと、実践の繋がっている速記文字はあくまでイメージです😥 鵜呑みにしないように😰
        </p>
  
        <h2>ポエム(ﾖﾏﾅｸﾃｲｲﾖ)</h2>
        <p>
          前々から早稲田式速記に興味があり、少し勉強したりしていましたが三日坊主な私には続きませんでした🙃
        </p>
        <p>
          そこで気軽にできるゲームみたいなサイトを作れば、簡単に学習できるかな～なんて思い、本サイトの作成に至りました😉
        </p>
        <p>
          速記文字は<a href="https://github.com/XimcoYuzuriha/Xim_Sans" target="_blank" rel="noopener noreferrer">Xim Sans</a>というフォントを使わせていただきました🥰
          絵文字も可愛らしい手書き文字になるのも最高です😍
        </p>
      </div>
    </template>

    <template v-else-if="scene === 'kaku'">
      <div id="game-header">
        <div id="retire-btn" @click="onClickRetire">
          🔙終わる
        </div>
        <div id="sintyoku">
          {{sintyoku}}
        </div>
      </div>
      <div id="mondai">
        <span v-for="(moji, index) in mondai"
              :class="{seikai: index < kaitou.length}">
          {{moji}}
        </span>
      </div>
      <div id="kaitou" v-html="kaitou.join('')"></div>
      <div id="message">{{message}}</div>

      <div class="sentakusi-container">
        <template v-for="(s, index) in sentakusiList">
          <div class="sentakusi"
               :class="{selected: selectedSentakusi?.sokki === s.sokki}"
               v-html="s.sokki"
               @click="onClickSentakusi(s)"></div>
        </template>
      </div>
    </template>

    <template v-else-if="scene === 'result'">
      <div id="rank-contaner">
        <div>評価</div>
        <div id="rank">S</div>
      </div>
      <table id="result-table">
        <tr>
          <td>スコア</td>
          <td>114514</td>
        </tr>
        <tr>
          <td>タイム</td>
          <td>10分33秒</td>
        </tr>
        <tr>
          <td>１文字</td>
          <td>44秒</td>
        </tr>
        <tr>
          <td>正確率</td>
          <td>98.5%</td>
        </tr>
        <tr>
          <td>苦手</td>
          <td>ち く わ</td>
        </tr>
      </table>
      <div>終わる</div>
      <div>続ける</div>
      <div>つぶやく</div>
    </template>
  </div>

  <script src="loading.js"></script>
  <script src="utils.js"></script>
  <script src="sokki.js"></script>
  <script src="mondai.js"></script>
  <script src="main.js"></script>
</body>
</html>
