
#game-header {
  display: flex;
  max-width: 820px;
  margin: 0.7rem auto 0;
  justify-content: space-between;
}

#retire-btn {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

#sintyoku {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

#mondai {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
}

#mondai .seikai {
  color: #FF9999;
}

#kaitou {
  width: 100%;
  height: 150px;
  margin-top: 4px;
  line-height: 150px;
  font-size: 1.5rem;
  text-align: center;
}

#message {
  width: fit-content;
  margin: 0.5rem auto 0;
}

.sentakusi-container {
  margin: 40px auto 0;
}

.sentakusi-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
}

.sentakusi-container input[type="radio"] {
  display: none;
}

.sentakusi {
  width: 80px;
  height: calc(80px + 26px * 2);
  border: 2px solid #007bff;
  border-radius: 6px;
  font-size: 2rem;
  line-height: calc(80px + 26px * 2);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sentakusi.selected {
  background-color: #007bff;
  color: white;
}
