
#mondai {
  width: fit-content;
  margin: 0 auto;
  font-size: 2.2rem;
}

#sintyoku {
  width: fit-content;
  margin: 4px auto 0;
}

#message {
  width: fit-content;
  margin: 0.5rem auto 0;
}

.sentakusi-container {
  margin: 40px auto 0;
}

.sentakusi-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
}

.sentakusi-container input[type="radio"] {
  display: none;
}

.sentakusi-container label {
  width: 80px;
  padding: 26px 0;
  border: 2px solid #007bff;
  border-radius: 6px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sentakusi-container input[type="radio"]:checked + label {
  background-color: #007bff;
  color: white;
}
