
@font-face {
	font-family: "Xim-Sans";
	src: url(./Xim-Sans-Handwritten.ttf);
  font-display: block; /* フォントが読み込まれるまで代替フォントを出さない */
}

[v-cloak] {
  display: none !important;
}

:root {
  margin: 0;
  padding: 0;
  font-family: Xim-Sans;
  font-size: 36px;
  user-select: none;
}

#loading {
  margin-top: 3rem;
  text-align: center;
}

#app {
  padding-bottom: 1rem;
}

h1 {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
}

.description {
  width: fit-content;
  margin: 1rem auto 0;
}

#mode-btn-container {
  margin-top: 1rem;
}

.mode-btn {
  width: 145px;
  margin: 0 auto;
  padding: 8px 32px;
  color: #fff;
  background-color: #268bde;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mode-btn:not(:first-of-type) {
  margin-top: 12px;
}

@media (any-hover: hover) {
  .mode-btn:hover {
    background-color: #005bb5;
  }
}
@media (any-hover: none) {
  .mode-btn:active {
    background-color: #005bb5;
  }
}

#sokki-table {
  margin: 1rem auto 0;
  border-collapse: collapse;
  text-align: center;
}

td {
  width: 80px;
  border: 1px solid #666;
}

td .hira {
  margin-top: 8px;
}

td .sokki {
  font-size: 2rem;
}

.pad-top {
  padding-top: 26px;
}

.pad-bottom {
  padding-bottom: 26px;
}

#poem {
  max-width: 820px;
  margin: 1.5rem auto 0;
}
